<!DOCTYPE html>

<head>
    <title>Borrar usuarios</title>
</head>

<body>
    <div>
        <form action="" method="post">
            <table style="width:50%">
                <tr>
                    <th><b>Nombre de usuario</b></th>
                    <th><b>Administrador</b></th>
                    <th><b>Eliminar</b></th>
                </tr>
                {% for user in users %}
                <tr>
                    <th>{{user.username}}</th>
                    <th>{{user.admin}}</th>
                    <th><input type="checkbox" value={{user.username}} name="delete_users"></th>
                </tr>
                {% endfor %}
            </table>

            <input type="submit" value="delete">
        </form>

    </div>
</body>