<!DOCTYPE html>

<head>
    <title>Usuarios</title>
</head>

<body>

    <h1> Información de usuarios</h1>
    <div id="newuser">
        <p><a href="{{ url_for('user_form') }}">Nuevo usuario</a></p>
    </div>
    <div>
        <table style="width:50%">
            <tr>
                <th><b>Nombre de usuario</b></th>
                <th><b>Administrador</b></th>
            </tr>
            {% for user in users %}
            <tr>
                <th>{{user.username}}</th>
                <th>{{user.admin}}</th>
            </tr>
            {% endfor %}
        </table>

    </div>
</body>