<!DOCTYPE html>

<head>
    <title>Usuarios</title>
</head>

<body>

    <h1> Información de usuarios</h1>
    <div id="newuser">

        <h2>Registrar nuevo usuario</h2>
        <form action="#" method="post">
            <label for="username"> Nombre de usuario: </label> <br>
            <input type="text" id="username" name="username"><br>

            <label for="passwd"> Contraseña </label> <br>
            <input type="text" id="passwd" name="passwd"><br>

            <br>
            <input type="checkbox" id="admin" name="admin" />
            <label for="admin"> Admin</label> <br>
            <br>
            <button>Registrar</button>

        </form>
        <p>
            {{ msg }}
        </p>
    </div>
    <div>
    </div>
</body>